.container{
    font-family: fantasy;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0px 5px 10px cornflowerblue;
    width: 95%;
    margin: 20px auto;
    .blog-information{
        width: 65%;
        margin-top: 20px;
       img{
           width: 100%;
           height: 35vw;
       }
       img, h1, p {
           margin-bottom: 25px;
       }
       p{
           font-size: 18px;
           line-height: 30px;
       }
    }
    .related-posts{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
       .blog-card-container{
        .blog-card{
            margin: 30px auto;
            width: 150px;
            height: 150px;
            box-shadow: 0px 4px 8px cornflowerblue;
            img{
                width: 100%;
                height: 70%;
            }
            &:hover{
                width: 152px;
                height: 152px;
            }
        }
    
    }
        
    }
}
.title{
    margin: 10px;
    &:hover{
        color: black;
        text-decoration: underline;
    }
}
@media(max-width: 1000px){
    .container{
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}
@media(max-width: 300px){
    .container{
        width: 100%;
    }
    .blog-card{
        width: 100px;
        height: 100px;
        .img{
            width: 60%;
            height: 50%;
        }
    }   
}
